body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 70px;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    text-align: center;
    margin-top: 20px;
}

/* CSS for the navigation bar */
.form2 ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Background color for the navbar */
    overflow: hidden;
}

.form2 li.nav-item {
    float: left;
}

.form2 li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.form2 li.nav-item a:hover {
    background-color: #555; /* Background color on hover */
}

/* Move the "Register" and "Login" links to the right */
.form2 li.nav-item.about,
.form2 li.nav-item.contact {
    float: right;
}
button{
    margin-right: 0;
}

button {
    background-color: #f8380f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}