<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin dash</title>
    <link rel="stylesheet" href="/css/adminD.css">
</head>
<body>

<div class="sidebar">
    <h1>Admin Panel</h1>
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>
<div class="content">
    <header>
        <h2>Dashboard</h2>
        <button id="logoutButton">Logout</button>
    </header>
    <main>
        <!-- Your content goes here -->
    </main>
</div>
<script src="/js/adminJS.js"></script>

</body>
</html>