<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/prod.css">

</head>
<body>

<section class="wrapper">
    <div class="form login">
        <header>Customer Login</header>
            <form action="/login" method="post"  th:object="${loginRequest}">
            <input type="text" name="name" placeholder="Enter your name" required />
            <input type="password" name="password" placeholder="Enter your password" required />
            <input type="submit" value="Login"/>

        </form>
<!--        <a href="adminSignin.jsp"><button>Admin Sign in</button> </a>-->

    </div>
</section>



</body>
</html>