<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/pages.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>

<header>

    <div class="secondHeader">
        <div>
            <h1 class="new">
                <a href="/">liqHub</a>
            </h1>
        </div>

        <div>
            <h2 id="shopBasket"><button id="cart-btn" class="fas fa-shopping-cart" onclick="openCartDialog()"><span
                    id="cart-counter">0</span></button></h2>
        </div>
    </div>
</header>

<section class="product" id="product">
    <h1 class="heading">our <span>red wine collection</span></h1>
    <div class="boxContain">
        <div class="box">
            <div class="image-container">
                <img src="/images/red%20wine%20category/allesverloren.webp" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 8999.00</h1>
                </div>
            </div>
            <h3>allesverloren</h3>
            <button class="add-to-cart-btn" data-index="0">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="/images/red%20wine%20category/eisberg.jpeg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 6770.00</h1>
                </div>
            </div>
            <h3>eisberg</h3>
            <button class="add-to-cart-btn" data-index="1">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="/images/red%20wine%20category/rust.webp" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 17500.00</h1>
                </div>
            </div>
            <h3>rust en vrede</h3>
            <button class="add-to-cart-btn" data-index="2">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="/images/red%20wine%20category/Kadet.jpeg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 8999.00</h1>
                </div>
            </div>
            <h3>kanonkop kadet</h3>
            <button class="add-to-cart-btn" data-index="3">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="/images/red%20wine%20category/parrot.jpeg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 7500.00</h1>
                </div>
            </div>
            <h3>lamothe parrot</h3>
            <button class="add-to-cart-btn" data-index="4">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="/images/red%20wine%20category/rupert.jpeg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 11000.00</h1>
                </div>
            </div>
            <h3>rupert & rothchild</h3>
            <button class="add-to-cart-btn" data-index="5">Add to Cart</button>
        </div>

    </div>

</section>



<!-- Cart Dialog -->
<div id="cartModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCartDialog()">&times;</span>
        <h2>Cart</h2>
        <div id="cart-items">
            <p>Your cart is empty.</p>
        </div>


        <!-- User Information Form -->
        <form id="user-form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" required>
            </div>
            <p class="total-amount">Total Amount to be Paid</p>
            <span id="total-amount">$0</span>
        </form>

        <!-- Buttons -->
        <button onclick="closeCartDialog()" class="btn2">Continue Shopping</button>
        <button onclick="checkout()" class="btn2">Checkout</button>
    </div>
</div>

<section class="footer">

    <div class="boxCon">
        <h1 class="logo">liqHub</h1>
        <h3 class="credit">powered by ideaEngines</h3>
    </div>
</section>

<script src="/js/liqhub.js"> </script>

</body>
</html>